/* Main (Intro/Info) */

main > section {
  padding: 1rem;
}

.intro p {
  font-size: .8em;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.info > * {
  flex: 1;
}

@media screen and (max-width: 630px) {
  .info {
    flex-direction: column;
  }
}

.media-card a {
  text-decoration: none;
  color: black;
}

.media-card p {
  font-size: .7em;
}